*{
    margin: 0; 
    padding: 0;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

.container{
    max-width: 360px;
}

.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 18px;
    padding: 18px;
}

.card img{
    width: 100%;
    border-radius: 18px;
    margin: 2px auto;
}

.card-body{
    padding: 22px 30px;
}

h5{
    color: hsl(218, 44%, 22%);
    font-size: 20px;
    margin-bottom: 12px;
}

p{
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}

.attribution{
    position: absolute;
    top: 90%;
}